@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Roboto:wght@100;300&display=swap');

/* Default margin and Padding  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

  }
  

  /* utility classes */

  .d-flex {
    display: flex;
  }
  .flex-col {
    flex-direction: column;
  }
  .transition-default {
    transition: all 250ms ease;
  }
  .absolute {
    position: absolute;
  }
  .relative {
    position: relative;
  }
  
  
  /* Colors */
  
  :root {
    --color60: whitesmoke;
    --color30: #d6d6d6;
    --colors10: #d16923;
  }
  

  .page-container {
    background-image: 
      linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.151)), 
      url(../images/My\ Hero\ Academia.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
  }
  
  /* navbar */
  nav {
    width: clamp(320px, 95%, 1440px);
    margin-inline: auto;
    background-color: rgba(214, 214, 214, 0.40);
    backdrop-filter: invert(80%) blur(2px);
    border-radius: 5px;
    justify-content: space-between;
    padding-block: 5px;
    position: sticky;
    top: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  
  /* brand */
  .brand-container {
    width: fit-content;
    margin-left: 1rem;
  }
  
  .brand {
    align-self: center;
    margin-inline: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(40px, 5vmin, 5vmin);
    font-weight: 300;
    color: var(--colors10);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.705);
    text-decoration: none;
    transition: all 250ms ease;
  }
  
  .brand:hover{
    text-shadow: 0 0 20px #D16923;
  }
  
  /* nav items */
  .nav-items-container {
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
  }
  
  .nav-items-container a {
    text-decoration: none;
  }
  
  .nav-items span{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color60);
    padding: 0 1rem;
    border-radius: 5px;
    text-shadow: 0 0 10px black;
    transition: all 250ms ease;
    font-family: 'Roboto', sans-serif;
  }
  .nav-items span:hover{
    background-color: #D16923;
    box-shadow: 0 0 10px #D16923;
  }
  @media (width <= 1000px ) {
    .nav-items-container, .login-cart-container{
      display: none;
    }
    nav {
      justify-content: center;
    }
  }
  @media (width <= 370px) {
    nav {
      justify-content: flex-start;
    }
  }
  /* Login and Cart */
  .login-cart-container{
    width: 10vw;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
  }
  .login-cart-container i {
    font-size: 1.5rem;
    color: var(--color60);
    text-shadow: 0 0 5px black;
  }
  .login-cart-container li {
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 250ms ease;
  }
  .login-cart-container li:hover {
    background-color: var(--colors10);
    box-shadow: 0 0 10px var(--colors10);
  }
  .cart {
    display: flex;
  }
  
  .cart-item-number {
    background-color: #D16923;
    padding: 0 7px ;
    border-radius: 50%;
    top: 0;
    right: 0;
    color: whitesmoke;
  }
  
/* Burger/Menu Button */

.burger-btn {
  font-size: 2rem;
  color: whitesmoke;
  background-color: transparent;
  border: 0;
  align-self: center;
  height: 100%;
  position: absolute;
  right: 1rem;
  top: calc(50% - 30px);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.40);
  display: none;
}
@media (width <= 1000px) {
  .burger-btn {
    display: inline;
  }
}
/* Header */
header {
  width: clamp(320px, 100%, 100%);
  height: 60vh;
  padding: 2rem 0 2rem 0;
  justify-content: end;
  align-items: center;
}

/* Slogan */
.slogan-body {
  width: clamp(320px, 95%, 1440px);
  flex-grow: 1;
  align-items: end;
  justify-content: center;
}
.slogan-container {
  height: 90%;
  width: 50%;
  justify-content: center;
  padding-left: 2rem;
  border-left: #d6d6d6 5px solid; 
}
.slogan {
  font-size: clamp(25px, 5vmin, 5vmin);
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}

/* Products-Section */

.products-container {
  color: #d16923;
  font-family: 'Montserrat', sans-serif;
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.products-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid #d6d6d6;
  margin: 0 auto;
}
.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}
.product-title {
  width: 45%;
}
.price {
  width: 15%;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
}
.quantity {
  width: 30%;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
}
.quantity .fa-minus {
  border: 1px solid #d6d6d6;
}
.quantity .fa-plus {
  border: 1px solid #d6d6d6;
}
.total {
  width: 10%;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
}
.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #d6d6d6;
}

.cartTotalBox {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}
.cartTotalTitle{
  width: 30%;
}
.cartTotal {
  width: 10%;
}

.products img {
  height: 75px;
}
/* Delivery Address */

.userAdd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 50px 0 50px;
    border: 1px solid whitesmoke;
    background-color: #d6d6d6;
}

.userAdd p {
    font-weight: 300;
}

/* Payment Method */ 
.payment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.useCou {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #d6d6d6;
  border-bottom: 1px solid whitesmoke;
  padding: 0 50px 0 50px;
}

#coupon-input {
  margin-left: 33%;
  height: 40px;
  font-size: 20px;
  text-align: center;
}

#apply-coupon-btn {
  width: 160px;
  height: 50px;
  color: whitesmoke;
  background-color: #d16923;
  border-color: #d16923;
  border-radius: 20px;
  font-weight: 300;
}

.usePay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: 1px solid #d6d6d6;
    background-color: #d6d6d6;
}

.usePay h3 {
    margin-left: 50px;
}

#payment {
    width: 160px;
    height: 50px;
    margin-right: 50px;
    text-align: center;
    font-weight: 300;       
    color: whitesmoke;
    appearance: none;
    outline: none;
    padding: 5px;
    background-color: #d16923;
    border: none;
    border-radius: 10px;
}

/* Delivery Note */

.delivery-container {
  display: flex;
  margin-left: 10px;
}
.delivery-message {
  margin-left: 50px;
}

.note textarea {
  background-color: #d6d6d6;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  font-weight: 300;
  font-size: 20px;
  margin-left: 10px;
    
}

.checkout-container {
  display: flex;
  justify-content: end;
  margin-right: 50px;
  width: 100%;
}

#cheBut {
  width: 160px;
  height: 50px;
  color: whitesmoke;
  background-color: #d16923;
  border-color: #d16923;
  border-radius: 20px;
  font-weight: 300;   
}

/* footer */
footer {
  height: 20vh;
  font-family: 'Roboto', sans-serif;
}
.footer-contacts-body {
  flex-grow: 1;
  background-color: var(--color60);
  padding-block: 1rem;
  padding-inline: clamp(0.1px,2vw,1rem);
}
.footer-contacts-container {
  background-color: #d6d6d6;
  flex-grow: 1;
  border-radius: 5px;
}
@media (width <= 490px) {
  .footer-contacts-container {
    flex-direction: column;
  }
}
.footer-contacts-left, .footer-contacts-right {
  flex-grow: 1;
  padding-left: 3rem;
  padding-block: 1rem;
}
.footer-social-icons {
  list-style-type: none;
  font-size: 2rem;
}
.footer-social-icons li {
  margin-right: 5px;
}
.footer-social-icons a {
  color: #D16923;
}
.footer-email {
  list-style-type: none;
}
.footer-email a {
  text-decoration: none;
  color: #D16923;
}
.footer-base {
  background-color: #D16923;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  align-items: center;
  padding: 1rem;
}