/* Default margin and Padding  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* utility classes */
.d-flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.transition-default {
  transition: all 250ms ease;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

/* Colors */
:root {
  --color60: whitesmoke;
  --color30: #d6d6d6;
  --colors10: #D16923;
}
.opacity {
  opacity: 0;
}
.opacity:hover {
  opacity: 1;
}


/* Pag container */
.page-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.151)),url(/assets/images/587749-Blonde-Boy.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-width: 320px;
}

/* navbar */
nav {
  width: clamp(320px, 95%, 1440px);
  margin-inline: auto;
  background-color: rgba(214, 214, 214, 0.40);
  backdrop-filter: blur(6px);
  border-radius: 5px;
  justify-content: space-between;
  padding-block: 5px;
  position: sticky;
  top: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* brand */
.brand-container {
  width: fit-content;
  margin-left: 1rem;
}

.brand {
  align-self: center;
  margin-inline: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(40px, 5vmin, 5vmin);
  font-weight: 300;
  color: var(--colors10);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.705);
  text-decoration: none;
  transition: all 250ms ease;
}

.brand:hover{
  text-shadow: 0 0 20px #D16923;
}

/* nav items */
.nav-items-container {
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.nav-items-container a {
  text-decoration: none;
}

.nav-items span{
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--color60);
  padding: 0 1rem;
  border-radius: 5px;
  text-shadow: 0 0 10px black;
  transition: all 250ms ease;
  font-family: 'Roboto', sans-serif;
}
.nav-items span:hover{
  background-color: #D16923;
  box-shadow: 0 0 10px #D16923;
}
@media (width <= 1000px ) {
  .nav-items-container, .login-cart-container{
    display: none;
  }
  nav {
    justify-content: center;
  }
}
@media (width <= 370px) {
  nav {
    justify-content: flex-start;
  }
}
/* Login and Cart */
.login-cart-container{
  width: 10vw;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
.login-cart-container i {
  font-size: 1.5rem;
  color: var(--color60);
  text-shadow: 0 0 5px black;
}
.login-cart-container li {
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 250ms ease;
}
.login-cart-container li:hover {
  background-color: var(--colors10);
  box-shadow: 0 0 10px var(--colors10);
}
.cart {
  display: flex;
}
.cart-item-number {
  background-color: #D16923;
  padding: 0 7px ;
  border-radius: 50%;
  top: 0;
  right: 0;
  color: whitesmoke;
}

/* Burger/Menu Button */

.burger-btn {
  font-size: 2rem;
  color: whitesmoke;
  background-color: transparent;
  border: 0;
  align-self: center;
  height: 100%;
  position: absolute;
  right: 1rem;
  top: calc(50% - 30px);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.40);
  display: none;
}
@media (width <= 1000px) {
  .burger-btn {
    display: inline;
  }
}
/* Header */
header {
  width: clamp(320px, 100%, 100%);
  height: 60vh;
  padding: 2rem 0 2rem 0;
  justify-content: end;
  align-items: center;
}

/* Slogan */
.slogan-body {
  width: clamp(320px, 95%, 1440px);
  flex-grow: 1;
  align-items: end;
  justify-content: center;
}
.slogan-container {
  height: 90%;
  width: 50%;
  justify-content: center;
  padding-left: 2rem;
  border-left: #d6d6d6 5px solid; 
}
.slogan {
  font-size: clamp(25px, 5vmin, 5vmin);
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}

/* Search bar */
.search-bar {
  width: clamp(320px, 95%, 1440px);
  height: 55px;
  background-color: rgba(214, 214, 214, 0.40);
  backdrop-filter: blur(6px);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  justify-content: end;
}
@media (width <= 1000px){
  .search-bar {
    display: none;
  }
}
.search-bar input {
  height: 100%;
  border: 0;
  flex-grow: 1;
  background-color: transparent;
  padding-inline: 1rem;
  color: whitesmoke;
}
.search-bar input:focus {
  outline: 0;
}
.search-bar input::placeholder {
  color: whitesmoke;
}
.filter-btn {
  border: 0;
  border-right: 2px solid rgb(92, 92, 92);
  color: whitesmoke;
  width: 100px;
  background-color: transparent;
}
.filter-btn:hover {
  cursor: pointer;
}
.filter-btn span {
  margin: 0 15px 0 0;
}
.search-btn {
  border: 0;
  width: 50px;
  background-color: transparent;
  color: whitesmoke;
}
.search-btn:hover {
  cursor: pointer;
}

/* Section */
.section-body1 {
  min-width: 320px;
  background-color: var(--color60);
}
.carousel {
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(var(--colors10), #b4591d);
}
.section-container {
  flex-grow: 1;
  margin: 2rem 0;
}

/* Section Defaults */
.section-name {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}
.viewmore-btn{
  border: 2px solid #D16923;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 5px 10px;
  color: #D16923;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.viewmore-btn:hover {
  box-shadow: 0 0 10px #D16923;
  cursor: pointer;
}
section {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}
/* Card and Card Details */
.card-group {
  margin: 1rem;
  width: 200px;
}
/* card cover */
.card {
  background-color: lightsalmon;
  height: 300px;
  background-size: cover;
  background-position: center;
  justify-content: end;
}
.manga-card-1 {
  background-image: url(/assets/images/Tensei\ Shitara\ Slime.jpg);
}
.manga-card-2 {
  background-image: url(/assets/images/Overlord.jpg);
}
.manga-card-3 {
  background-image: url(/assets/images/Campfire\ Cooking\ in\ Another\ World\ with\ My\ Absurd\ Skill.jpg);
}
.manga-card-4 {
  background-image: url(/assets/images/Handyman\ Saitou\ in\ Another\ World.jpg);
}

/* quick view */
.quick-view-container {
  justify-content: center;
  height: 50%;

}
.quick-view-btn {
  width: 145px;
  height: fit-content;
  border: 0;
  background-color: #D16923;
  color: whitesmoke;
  justify-content: space-evenly;
  padding: 5px 10px ;
  border-radius: 5px;
  align-items: center;
  transition: transform 250ms;
}
.quick-view-btn:hover {
  transform:scale(1.1);
  z-index: 2;
}

.action-div {
  justify-content: end;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0.80));

}
/* Actions button */
.actions-container button {
  flex-grow: 1;
  border: 0;
  color: whitesmoke;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 5px;
}
.add-to-cart-btn {
  background-color: #D16923;
  transition: all 250ms;
  /* opacity: 0; */
}
.add-to-cart-btn:hover {
  /* opacity: 1; */
  transform: scale(1.1);
  z-index: 2;
}
.add-to-wishlist-btn {
  background-color: rgb(255, 49, 90);
}
.buy-now-btn {
  background-color: rgb(88, 223, 88);
}
.card-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.card-tags {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  flex-wrap: wrap;
}
.genre{
  font-weight: 600;
}
@media (width <= 1000px) {
  .section-container {
    flex-direction: column;
  }
}
/* Left Section */
.section-container-left {
  flex-grow: 1;
  padding-block: 1rem;
  padding-inline: clamp(0.1px,2vw,1rem);
}

/* Manga Section */
.section {
  border-radius: 5px;
  background-color: #d6d6d6;
  min-width: 310px;
  margin-bottom: 1rem;
}
.section-header {
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
.section-body {
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (width <= 502px){
  .section-body {
    justify-content: center;
  }
} 
/* Anime section */
.anime-card-1 {
  background-image: url(/assets/images/The\ Angel\ Next\ Door.webp);
}

/* Right Section */
.section-container-right {
  width: 30%;
  padding-block: 1rem;
  padding-inline: clamp(0.1px,2vw,1rem);
}
@media (width <= 1000px){
  .section-container-right {
  height: 50vh;
  width: 100%;
}}

/* Merchandise */
.merchandise {
  width: 100%;
  background-color: #d6d6d6;
  border-radius: 5px;
  
}

/* footer */
footer {
  height: 20vh;
  font-family: 'Roboto', sans-serif;
}
.footer-contacts-body {
  flex-grow: 1;
  background-color: var(--color60);
  padding-block: 1rem;
  padding-inline: clamp(0.1px,2vw,1rem);
}
.footer-contacts-container {
  background-color: #d6d6d6;
  flex-grow: 1;
  border-radius: 5px;
}
.footer-contacts-left, .footer-contacts-right {
  flex-grow: 1;
  padding-left: 3rem;
  padding-block: 1rem;
}
.footer-social-icons {
  list-style-type: none;
  font-size: 2rem;
}
.footer-social-icons li {
  margin-right: 5px;
}
.footer-social-icons a {
  color: #D16923;
}
.footer-email {
  list-style-type: none;
}
.footer-email a {
  text-decoration: none;
  color: #D16923;
}
.footer-base {
  background-color: #D16923;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  align-items: center;
  padding: 1rem;
}

/* Modal Faq */
.modalFaq {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-faq {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.closeFaq {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeFaq:hover,
.closeFaq:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Accordion */
.accordion {
  margin-top: 20px;
}

.accordion-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-header {
  background-color: #f1f1f1;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
  display: none;
}

.accordion-content-visible {
  display: block;
}


/* Login Modal */
/* The Modal (background) */
.modalLogin {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-login {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.closeLogin {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeLogin:hover,
.closeLogin:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


