@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root {
    --primary: #f5f5f5;
    --secondary: #d6d6d6;
    --tertiary: #d16923;
    --montserrat: 'Montserrat', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--roboto);
}
  
/* utility classes */
  .d-flex {
    display: flex;
  }
  .flex-col {
    flex-direction: column;
  }
  .transition-default {
    transition: all 250ms ease;
  }
  .absolute {
    position: absolute;
  }
  .relative {
    position: relative;
  }
  
  /* Colors */
  :root {
    --color60: whitesmoke;
    --color30: #d6d6d6;
    --colors10: #D16923;
  }
  
/* Nav bar start */
nav {
  width: clamp(320px, 95%, 1440px);
  margin-inline: auto;
  margin-top: 1rem;
  background-color: rgba(214, 214, 214, 0.40);
  backdrop-filter: blur(6px);
  border-radius: 5px;
  justify-content: space-between;
  padding-block: 5px;
  position: sticky;
  top: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* brand */
.brand-container {
  width: fit-content;
  margin-left: 1rem;
}

.brand {
  align-self: center;
  margin-inline: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(40px, 5vmin, 5vmin);
  font-weight: 300;
  color: var(--colors10);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.705);
  text-decoration: none;
  transition: all 250ms ease;
}

.brand:hover{
  text-shadow: 0 0 20px #D16923;
}

/* nav items */
.nav-items-container {
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.nav-items-container a {
  text-decoration: none;
}

.nav-items span{
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--color60);
  padding: 0 1rem;
  border-radius: 5px;
  text-shadow: 0 0 10px black;
  transition: all 250ms ease;
  font-family: 'Roboto', sans-serif;
}
.nav-items span:hover{
  background-color: #D16923;
  box-shadow: 0 0 10px #D16923;
}

@media (width <= 1000px ) {
  .nav-items-container, .login-cart-container{
    display: none;
  }
  nav {
    justify-content: center;
  }
}
@media (width <= 370px) {
  nav {
    justify-content: flex-start;
  }
}

/* Login and Cart */
.login-cart-container{
  width: 10vw;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
.login-cart-container i {
  font-size: 1.5rem;
  color: var(--color60);
  text-shadow: 0 0 5px black;
}
.login-cart-container li {
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 250ms ease;
}
.login-cart-container li:hover {
  background-color: var(--colors10);
  box-shadow: 0 0 10px var(--colors10);
}
.cart {
  display: flex;
}
.cart-item-number {
  background-color: #D16923;
  padding: 0 7px ;
  border-radius: 50%;
  top: 0;
  right: 0;
  color: whitesmoke;
}

/* Burger/Menu Button */

.burger-btn {
  font-size: 2rem;
  color: whitesmoke;
  background-color: transparent;
  border: 0;
  align-self: center;
  height: 100%;
  position: absolute;
  right: 1rem;
  top: calc(50% - 30px);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.40);
  display: none;
}
@media (width <= 1000px) {
  .burger-btn {
    display: inline;
  }
}
/* navbar end */

.content-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 5vh;
}


/* filter by series */
aside {
    width: 20%;
    padding: 35px 25px; 
}

aside p {
    font-size: 18px;
    font-family: var(--montserrat);
}

.series, .price-range {
  margin-top: 20px;
}

.series-checkbox, .price-checkbox {
    font-size: 14px;
    vertical-align: middle;
    margin-top: 10px;
}

.series-checkbox:hover,
.price-checkbox:hover {
  color: var(--tertiary);
  cursor: pointer;
}

.series-checkbox label,
.price-checkbox label {
    margin-left: 5px;
    cursor: pointer;
}



/* Merch Content Container */
section {
    width: 80%;
    padding: 30px 20px;
}


/* Sort By button */
.sort-by {
    display: flex;
    align-items: center;
    justify-content: end;
}

.sort-by label {
    margin-right: 10px;
}

.sort-by select {
    width: 200px;
    border: none;
    background-color: var(--primary);
    padding: 10px 20px;
    font-size: 16px;
}


/* Tabs for Merch Categories */
.tab {
    margin-top: 20px;
}

.tabcontent {
    display: none;
    padding: 3rem;
    height: auto;
    background-color: transparent !important;
}

.tabcontent.active {
    display: flex;
    color: #121212;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-items: center;
}

.tablinks {
    width: 150px;
    height: 45px;
    border: none;
    margin: auto 5px;
    text-align: center;
    background-color: var(--primary);
    font-family: var(--montserrat);
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
}

.tablinks:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--tertiary);
    color: var(--primary);
}

.active {
    background-color: #D16923;
    color: var(--primary);
}



/* Merch Cards */
.merch-card {
    width: 200px;
    margin: 0 5px 50px 5px;
    transition: all 250ms;
}

.merch-card:hover {
  transform: scale(1.1);
}

/* Product img container */
.img-container {
    width: 200px;
    position: relative;
    cursor: pointer;
}

.action-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.action-div a {
  text-decoration: none;
}

.img-container:hover .action-div {
  opacity: 1;
}

.quickview-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quickview-btn {
  height: fit-content;
  padding: 5px 10px;
  background-color: #D16923;
  color: whitesmoke;
  border: 0;
  border-radius: 5px;
  transition: all 250ms;
  cursor: pointer;
  font-size: clamp(12px, 1vw, 1vw);
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.fa-regular.fa-eye {
  margin-left: 5px;
}

.quickview-btn:hover {
  transform: scale(1.1);
}

.actions-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.actions-container>button {
  padding-block: 5px;
  font-size: clamp(12px, 1vw, 1vw);
  flex-grow: 1;
  margin: 1vmin;
  border: 0;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
}

.actions-container>button:nth-child(1) {
  background-color: #D16923;
  transition: all 250ms;
}

.actions-container>button:nth-child(1):hover {
  transform: scale(1.1);
}

.actions-container>button:nth-child(2) {
  background-color: #bd1f3e;
}

.actions-container>button:nth-child(3) {
  background-color: #4e8f0c;
}

/* product image */
.merch-card img {
    width: 200px;
}

/* product description */
.product-info {
    padding: 20px 10px;
    width: 200px;
}

/* product name */
.product-name {
    font-size: 16px;
    text-decoration: none;
    color: #121212;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.product-name:hover {
    color: var(--tertiary);
    text-decoration: underline;
    cursor: pointer;
}

/* seller location */
.location {
    font-size: 10px;
    color: gray;
}

/* price */
.price {
    display: block;
    font-weight: bold;
    color: var(--tertiary);
    font-size: 15px;
}

/* stars icon */
/* .reviews i {
    color: var(--tertiary);
    cursor: pointer;
} */



/* footer */
footer {
    background-color: var(--tertiary);
    width: 100%;
    height: 30vh;
    margin-top: 50px;
}

/* footer */
footer {
  height: 20vh;
  font-family: 'Roboto', sans-serif;
}

.footer-contacts-body {
  flex-grow: 1;
  background-color: var(--color60);
  padding-block: 1rem;
  padding-inline: clamp(0.1px, 2vw, 1rem);
}

.footer-contacts-container {
  background-color: #d6d6d6;
  flex-grow: 1;
  border-radius: 5px;
}

@media (width <=490px) {
  .footer-contacts-container {
    flex-direction: column;
  }
}

.footer-contacts-left,
.footer-contacts-right {
  flex-grow: 1;
  padding-left: 3rem;
  padding-block: 1rem;
}

.footer-social-icons {
  list-style-type: none;
  font-size: 2rem;
}

.footer-social-icons li {
  margin-right: 5px;
}

.footer-social-icons a {
  color: #D16923;
}

.footer-email {
  list-style-type: none;
}

.footer-email a {
  text-decoration: none;
  color: #D16923;
}

.footer-base {
  background-color: #D16923;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  align-items: center;
  padding: 1rem;
}